item_C_grafico_alto/
item_C_grafico_medio/
item_C_grafico_baixo/
item_C_grafico_limite_teorico/
item_D_grafico_alto/
item_D_grafico_medio/
item_D_grafico_baixo/
item_D_grafico_limite_teorico/
item_E_grafico